* {
    justify-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
body {
    overflow: hidden;
    background-color: rgb(0, 38, 70);
}
h2 {
    color: rgb(19, 158, 93);
    cursor: default;
}
.style {
    margin-top: 24vh;
    margin-left: 75px;
    margin-right: 75px;
    width: 100%;
    height: 380px;
    border-radius: 15px;
    animation: box 0.4s linear forwards;
}
.style input {
    width: 68vw;
    height: 8vh;
    outline: none;
    display: flex;
    box-sizing: border-box;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-top: 5vh;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    justify-items: flex-start;
}
input:hover {
    border: 2px solid #969696;
}
input:focus {
    border: 2px solid #8b0;
}
.style button {
    width: 68vw;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: rgb(19, 158, 93);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5.2vh;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    border: 0.18rem solid #d4d4d4;
    border-bottom: 4px solid #383838;
}
.style button:hover {
    background-color: rgb(0, 143, 76);
}
.back {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 25px;
    justify-items: flex-start;
    position: fixed;
    top : 12px;
    left: 12px;
    color: rgb(0, 42, 77);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back:hover {
    background-color: #d6d3d3;
}
.style-two {
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 75px;
    height: 88vh;
    border-radius: 15px;
}
.style-two h2 {
    position: fixed;
    top: 15px;
    animation: box 0.4s linear forwards;
}
.not-task {
    box-sizing: border-box;
    width: 90vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display {
    box-sizing: border-box;
    width: 99vw;
    height: 75vh;
    margin-right: 12px;
    margin-left: 12px;
    color: #fff;
    padding-left: 2.5vw;
    padding-bottom: 5vh;
    border-radius: 15px;
    border: 2px solid #fff;
    position: fixed;
    top: 19.6vh;
    justify-items: flex-start;
    overflow-y: auto;
    font-size: 18px;
    cursor: default;
    animation: scroll 0.4s linear forwards;
}
@keyframes scroll {
    from {
        translate: 0 100%;
    }
}
.box {
    width: 99.5vw;
    height: 9vh;
    box-sizing: border-box;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 5px;
    position: fixed;
    top: 16.2vh;
    color: rgb(0, 204, 109);
    background-color: rgb(0, 42, 77);
    font-size: 18px;
    border-radius: 16px;
    border-bottom: 4px solid rgb(0, 204, 109);
    box-shadow: 0 0 15px;
    animation: box 0.4s linear forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}
.help_tools {
    display: flex;
}
.help_tools i {
    display: block;
    margin-right: 10px;
    rotate: 80deg;
    cursor: pointer;
}
.help_tools i:hover {
    color: rgb(0, 143, 76);
}
.show {
    margin-top: 8vh;
    margin-left: 8px;
    font-size: larger;
}
.new {
    width: 89vw;
    display: flex;
    justify-content: space-between;
}
.new input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 30px;
}
hr {
    width: 100%;
}
.end {
    width: 100vw;
    height: 9vh;
    box-sizing: border-box;
    padding-left: 14px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    color: rgb(19, 158, 93);
    background-color: rgb(0, 42, 77);
    font-size: 24px;
    border-radius: 16px;
    border-top: 2px solid rgb(19, 158, 93);
    box-shadow: 0 0 15px;
    animation: box 0.4s linear forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page {
    width: 94vw;
    height: 31vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 6vh;
    font-size: 25px;
    color:#000;
    border-radius: 12px;
    background-color:#fff;
    border: 2px solid #000;
    justify-items: center;
    position: fixed;
    top: 28vh;
    animation: box 0.2s linear forwards;
    box-shadow: 0 0 10px #000;
}
#btn {
    width: 90px;
    height: 40px;
    position: fixed;
    top: 22vh;
    right: 20px;
    display: block;
    color: #fff;
    border: none;
    border-radius: 12px;
    background-color: rgb(19, 158, 93);
}
#btn:hover {
    background-color: rgb(0, 119, 64);
    border: 0.15rem solid #474747;
}
@keyframes box {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.h1 {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    border-bottom: 5px solid rgb(19, 158, 93);
}
.h1 h1 {
    position: fixed;
    top: -10px;
    left: 60px;
}
.choices {
    width: 100vw;
    height: 25vh;
    position: fixed;
    top: 85px;
    font-size: 27px;
    padding-top: 20px;
    cursor: pointer;
}
.choice a {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    display: block;
    justify-items: first baseline;
}
.choice {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
hr {
    width: 100vw;
}
.tools a {
    justify-items: flex-end;
    display: inline-block;
    rotate: 90deg;
    margin-right: 8px;
    cursor: pointer;
}